<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 5" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/period1/unit5/intro">Intro</a></td>
        <td><a href="{{site.baseurl}}/csa/period1/unit5/anatomy">Anatomy of a Class</a></td>
        <td><a href="{{site.baseurl}}/csa/period1/unit5/constructors">Constructors</a></td>
        <td><a href="{{site.baseurl}}/csa/period1/unit5/accessor">Accessor Methods</a></td>
        <td><a href="{{site.baseurl}}/csa/period1/unit5/mutators">Mutator Methods</a></td>
        <td><a href="{{site.baseurl}}/csa/period1/unit5/staticvariables">Static Variables</a></td>
        <td><a href="{{site.baseurl}}/csa/period1/unit5/game">Game</a></td>
    </tr>
</table>