<table>
    <tr>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-homepage">Home</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-1">7.1 Introduction</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-2">7.2 Methods</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-3">7.3 Traversing</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-4">7.4 Algorithms</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-5">7.5 Searching</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-6">7.6 Sorting</a></td>
        <td><a href="{{site.baseurl}}/csa/unit7-p1/unit7-7">7.7 Ethical Issues</a></td>


    </tr>
</table>
