<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 6" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/unit6-p1/">Intro</a></td>
        <td><a href="{{site.baseurl}}/csa/unit6-p1/unit6-1">6.1: Array</a></td>
        <td><a href="{{site.baseurl}}/csa/unit6-p1/unit6-2">6.2: Traversing</a></td>
        <td><a href="{{site.baseurl}}/csa/unit6-p1/unit6-3">6.3: Enhanced for</a></td>
        <td><a href="{{site.baseurl}}/csa/unit6-p1/unit6-4">6.4: Algos</a></td>
    </tr>
</table>