<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 4" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/unit4-p1/unit4-1">4.1 While Loop</a></td>
        <td><a href="{{site.baseurl}}/csa/unit4-p1/unit4-2">4.2 For Loop</a></td>
        <td><a href="{{site.baseurl}}/csa/unit4-p1/unit4-3">4.3 String Iteration</a></td>
        <td><a href="{{site.baseurl}}/csa/unit4-p1/unit4-4">4.4 Nested Iteration</a></td>
        <td><a href="{{site.baseurl}}/csa/unit4-p1/unit4-hwquiz">Unit 4 HW Quiz</a></td>
    </tr>
</table>