<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Unit 8" alt=""></td>
        <td><a href="{{site.baseurl}}/unit8lesson-p1">Intro</a></td>
        <td><a href="{{site.baseurl}}/unit8lesson-p1-declare-initialize">Declaring, Initializing</a></td>
        <td><a href="{{site.baseurl}}/unit8lesson-p1-accessing-updating">Accessing, Updating</a></td>
        <td><a href="{{site.baseurl}}/unit8lesson-p1-traversing">Traversing</a></td>
        <td><a href="{{site.baseurl}}/unit8lesson-p1-algorithms">Algorithms</a></td>
    </tr>
</table>